body {
  --Red: rgb(234, 83, 83);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --Grayish-Blue: hsl(229, 6%, 66%);
  --Very-Dark-Blue: hsl(234, 12%, 34%);
  font-size: 15px;
}

.canvas {
  margin: 0;
  padding: 20px;
  background-color: var(--Very-Light-Gray);
  font-family: "Poppins", sans-serif;
  width: 100%;
  /* height: 100vh; */
  color: var(--Grayish-Blue);
  display: grid;
  grid-template-rows: [header-padding] 90px [header-padding-e header-title] 90px [header-title-end header-para-start] 90px [header-para-end] 25px [card-one-start] 350px [card-one-end card-two-start] 350px [card-two-end card-three-start] 350px [card-three-end card-four-start] 350px [card-four-end card-five-start] 350px [card-five-end] 44px;
  grid-template-columns: 1fr;
  text-align: center;
  justify-content: center;
  align-items: center;
}

h3 {
  color: var(--Very-Dark-Blue);
  font-weight: 600;
}

p {
  font-weight: 400;
}

.header {
  /* color:var(--Grayish-Blue) */
  max-width: 330px;
  grid-row: header-padding-e/header-para-end;
}
.title {
  font-size: large;
  display: block;
  grid-row: header-title/header-title-end;
  display: grid;
  grid-column: 1fr;
  width: 100%;
}
.title h3 {
  font-weight: 200;
  color: var(--Grayish-Blue);
}
.card {
  margin: 20px;
  padding: 20px;
  max-width: 330px;
  background-color: var(--Very-Light-Gray);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 10px;
  height: 210px;
  text-align: left;
}

.card-one {
  border-top: 3px solid var(--Cyan);
  grid-row: card-one-start/card-one-end;
}
img {
  float: right;
}

.card-two {
  border-top: 3px solid var(--Red);
  grid-row: card-two-start/card-one-end;
}

.card-three {
  border-top: 3px solid var(--Orange);
  grid-row: card-three-start/card-three-end;
}

.card-four {
  border-top: 3px solid var(--Blue);
  grid-row: card-four-start/card-four-end;
}

@media only screen and (min-width: 600px) {
  body {
    background-color: var(--Very-Light-Gray);
  }

  .canvas {
    display: grid;
    grid-template-columns: [wall-s] 200px [line-1] 200px [line-2] 400px [line-3] 200px [line-4] 200px [wall-end];
    grid-template-rows: [start-top] 1fr [start-bttm] 1fr [middle-top] 100px[line-1] 100px [middle-bottom] 400px [end-bottom];
    justify-content: center;
    align-items: center;
    padding: 0;
    margin:0;
  }

  .header{
      grid-row: start-top/start-bttm;
      grid-column: line-2/line-3;
      width: 100%;
  }

  .card-one {
    grid-row: start-bttm/middle-top;
    grid-column: line-2;
    width: 100%;
  }

  .card-two {
    grid-row: middle-top/middle-bottom;
    grid-column-start: span 2;
    width: 100%;
  }

  .card-three {
    grid-row: middle-top/middle-bottom;
    grid-column: line-3/wall-end;
    width: 100%;
  }

  .card-four{
      grid-row: middle-bottom/end-bottom;
      grid-column: line-2;
      width: 100%;
  }
}
